.colclass {
    left: 190px;
    margin: 0;
}

#btn {
    height: 30px;
    margin: 5px;
}

#time {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: blue;
}

#date {
    color: black
}